:root {
    --aqua: #61DAFB;
  }

/* Global Classes */
.aqua {
    color: var(--aqua);
}

.fw-100 {
    font-weight:100;
}

.fw-200 {
    font-weight:200;
}

.fw-300 {
    font-weight:300;
}

.fw-400 {
    font-weight:400;
}

.fw-500 {
    font-weight:500;
}

.fw-600 {
    font-weight:600;
}

.fw-700 {
    font-weight:700;
}

.fw-800 {
    font-weight:800;
}

.fw-900 {
    font-weight:900;
}

/*Bootstrap Override */
.navbar a {
    line-height:30px;
}

.navbar a:hover {
    color: var(--aqua);
}

.navbar-brand:hover {
    color: var(--aqua);
}

.navbar-custom {
    background-color: #20232A;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:18px;
    line-height:21px;
    font-weight:300;
}

.navbar-custom .nav-link {
    color:white;
}

.jumbotron {
    background-color:#282C34;
    color:white;
}

.lead {
    font-size:30px;
    line-height:35px;
    font-weight:200;
}

.btn-link:hover {
    text-decoration:none;
    color:white;
}

/* Gloabl Styles */
* {
    -moz-osx-font-smoothing: grayscale;
}

.btn-aqua {
    background-color: var(--aqua);
    color:#000;
    border-radius:0px;
}

.btn-aqua:hover {
    background-color:white;
}

.button-container {
    background-color:#282C34;
}

.website-demo {
    background-color:#eef5fa;
    border-radius:100px;
    height:auto;
    padding: 70px 60px;
    margin-top:90px;
}

.website-demo-inner {
    background-color:white;
    height:800px;
    width:100%;
    border-radius:8px;
    box-shadow: 0 24px 24px -18px rgba(69,104,129,.33),0 9px 45px 0 rgba(114,119,160,.12);
    -webkit-box-shadow: 0 24px 24px -18px rgba(69,104,129,.33),0 9px 45px 0 rgba(114,119,160,.12);
    padding: 70px 50px;
}

.website-demo-inner-embed {
    width:100%;
    height:100%;
}

footer {
    background-color:#20232a;
}

footer p {
    color:white;
    font-size:14px;
    color:#999;
}

.footer-header {
    color:#999;
    font-size:14px;
    font-weight:700;
    line-height:3;
    text-transform:uppercase;
    letter-spacing:0.08em;
}

.footer-content i {
    font-size:12px;
    vertical-align:2px;
    color:#999;
}

.footer-content-link {
    line-height:2;
    display:block;
    color:white;
}

.footer-content-link:hover {
    text-decoration: none;
    color: var(--aqua); 
}

@media (max-width: 980px) {
    .website-demo {
        border-radius:0px;
        padding:15px;
    }

    .website-demo-inner {
        padding:15px;
    }
}

@media (max-width: 1024px) {
    footer .navbar-brand {
        padding:auto;
    }
}